html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;  
    padding: 0; 
}

header {
    display: flex;
    align-items: center;
    
    padding: 10px;
    color: #000000;
    margin: 0;
    padding: 0;
}

header h1 {
    flex: 1;
    text-align: center;
    font-size: 48px;
}

header img {
    height: 170px;     
    padding-right: 85px;
    padding-left: 85px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #D9D9D9;
}

nav {
    background-color: #9E9E9E;
    color: #fff;
    padding: 10px;
    margin-top: -46px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    margin: 0;
}

nav ul a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav ul a:hover {
    background-color: rgb(99, 97, 107);
    color: black;
    padding: 15px;
}

table.contact {
    background-color: #D9D9D9;
    padding: 22px;
}

table.contact tr td {
    padding: 23px;
}

table.contact th {
    background-color: #ffffff;
    border-radius: 35px;
}

table.contact td img {
    width: 26px;
    vertical-align: middle;
}

table.aboutMe {
    background-color: #D9D9D9;
    padding: 20px;
}

table.aboutMe tr td {
    padding: 24px;
    max-width: 251px;
}

table.aboutMe th {
    background-color: #ffffff;
    border-radius: 35px;
}

table.skills {
    background-color: #D9D9D9;
    padding: 20px;
    padding-bottom: 45px;
}

table.skills tr td {
    padding-right: 159px;
    padding-bottom: 10px;
}

table.skills th {
    background-color: #ffffff;
    border-radius: 35px;
}

table.skills ul li {
    margin-bottom: 10px;
}

.container {
    display: flex;
}

table.experience {
    padding-top: 25px;
    padding-left: 70px;
    margin-bottom: 105px;
}

table.experience th {
    background-color: #D9D9D9;
    border-radius: 35px;
}

table.experience ol li {
    margin-bottom: 5px;
}

.roman-list {
    list-style-type: lower-roman;
}

table.interests {
    padding-left: 70px;
    margin-bottom: 105px;
}

table.interests th {
    background-color: #D9D9D9;
    border-radius: 35px;
}

table.interests ol li {
    margin-bottom: 5px;
}

table.education {
    padding-left: 70px;
}

table.education th {
    background-color: #D9D9D9;
    border-radius: 35px;
}

table.education ul li {
    margin-bottom: 5px;
}

table.expertise {
    padding-top: 190px;
    margin-bottom: 170px;
}

table.expertise th {
    background-color: #D9D9D9;
    border-radius: 35px;
}

table.expertise ul li {
    margin-bottom: 5px;
}

table.languages th {
    background-color: #D9D9D9;
    border-radius: 35px;
}

table.languages ul li {
    margin-bottom: 25px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    gap: 170px; /* espai entre les columnes */
    background-color: #ffffff; 
}

.left-column, .right-column {
    flex: 1; /* cada columna ocupa el 50% de l'amplada */
}

.left-column table {
    width: 100%; 
}

.right-column table {
    width: 80%; 
}	

footer {
    background-color:#9E9E9E;  
    margin: 0%;
    padding:20px;
    text-align: center;
    color: #000000;
}   

